@using System.Web.Mvc.Html
@model IEnumerable<CardChequeModule.Models.CARDCHEREUISITION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Form")
</p>


<table class="table table-striped table-bordered">
    <tr class ="success">

        <th>
            @Html.DisplayNameFor(model => model.CARDNO)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.REMARKS)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.REFERENCENO)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.BRANCHINFO.BRANCHNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISACTIVE)
        </th>

        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CARDNO)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OCCENUMERATION.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REMARKS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REFERENCENO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BRANCHINFO.BRANCHNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISACTIVE)
            </td>

            
            <td>
                @Html.ActionLink("Edit", "Form", new { id = item.ID })

            </td>
        </tr>
    }

</table>
