@model CardChequeModule.Models.DEPOSIT
@{
    ViewBag.Title = "Cheque";
}




<div align="center" style="margin-top:-30px ">
    <h3>CREDIT/PREPAID CARD PAYMENT SLIP</h3>
</div>
<div class="col-lg-4">
    @Html.TextBoxFor(model => model.PAYMENTTYPE, new { @class = "form-control col-sm-10", @type = "hidden" })
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-lg-3">
            <img src="~/assets/img/obl.jpg" class="" alt="Responsive image">

        </div>
        <div class="col-lg-6">

        </div>
        <div class="col-lg-3" align="right">
            <img src="~/assets/img/visa.jpg" class="" alt="Responsive image">
        </div>
    </div>
</div>


@*<form class="form-horizontal" method="POST" id="chequeForm">*@
@using (Ajax.BeginForm("Form", "Home",
        new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { area = "Payment", id = "chequeForm", @class = "form-horizontal" }))
{
    <div class="col-lg-4">
        @Html.TextBoxFor(model => model.ID, new { @class = "form-control col-sm-10", @type = "hidden" })
    </div>
    <div class="panel panel-default">
        <div class="panel-body">


            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Branch</label>
                <div class="col-lg-4">

                    @Html.DropDownList("BRANCH", null, "Select Branch", new { @class = "form-control" })
                </div>

                <label for="name" class="col-lg-2 control-label">Date</label>
                <div class="col-lg-4">
                    <div class='input-group date' id='datetimepicker1'>

                        @Html.TextBoxFor(x => x.CREATEDON, new { @class = "form-control", @placeholder = "MM-DD-YYYY" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            @if (Model.ID != 0)
            {
                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Reference Number</label>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.REFERENCENUMBER, new { @class = "form-control col-sm-10", @readonly = "readonly" })
                    </div>
                </div>
            }
            else
            {
                <div class="form-group"></div>
            }







            <div class="form-group">

                @Html.LabelFor(model => model.CARDNUMBER, new { @class = "col-lg-2 col-sm-2 control-label" })
                <div class="col-lg-4">
                    @Html.TextBoxFor(model => model.CARDNUMBER, new { @class = "form-control col-sm-10", @placeholder = "Please enter card number and press tab" })
                </div>

                @Html.LabelFor(model => model.MOBILE, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-4">
                    @Html.TextBoxFor(model => model.MOBILE, new { @class = "form-control col-sm-10", @placeholder = "11 digits Ex 01XXXXXXXXX" })
                </div>
            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.CARDHOLDERNAME, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.CARDHOLDERNAME, new { @class = "form-control col-sm-10", @placeholder = "Name will be appeared automatically if card number is valid" })
                </div>
            </div>





            <div id="result"></div>
            <img id="spinner" src="~/assets/img/spinner.gif" style="display: none;">

            <div class="form-group" id="radioError">
                <label for="birthday" class="col-xs-3 col-sm-2 control-label">Payment Type</label>
                <div class="col-xs-3">
                    <label class="radio-inline"><input type="radio" name="PAYMENTTYPE" id="PAYMENTTYPE" value="Cash">Cash</label>
                </div>
                <div class="col-xs-3">
                    <label class="radio-inline"><input type="radio" name="PAYMENTTYPE" id="PAYMENTTYPE" value="Cheque">Cheque</label>
                </div>
                <div class="col-xs-3">
                    <label class="radio-inline"><input type="radio" name="PAYMENTTYPE" id="PAYMENTTYPE" value="ADI">Account Debit Instruction</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <label for="paymentType" class="error" id="errmsg" style="display: none"></label>
                </div>
            </div>



            <div class="form-group" id="amountDiv">

                @Html.LabelFor(model => model.AMOUNT, new { @class = "col-xs-2 col-sm-2 control-label" })
                <div class="col-lg-2">
                    @Html.TextBoxFor(model => model.AMOUNT, new { @class = "form-control col-sm-10" })
                </div>

                <label for="amount" class="col-xs-1 col-sm-1 control-label" style="font-size: 20px; margin-top: -5px"><strong>@@</strong></label>
                <div class="col-lg-3">
                    @*<input type="text" class="form-control" placeholder="Exchange Rate" id="EXCANGERATE" name="EXCANGERATE" />*@
                    @Html.TextBoxFor(model => model.EXCHANGERATE, new { @class = "form-control", @placeholder = "Exchange Rate" })
                </div>

                <label for="currency" class="col-xs-1 col-sm-1 control-label">Currency</label>
                <div class="col-lg-3">
                    @Html.DropDownList("CURRENCY", null, "Select Currency", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group" id="accdebitDiv">
                <label class="col-xs-2 col-sm-2 control-label">Account Debit Instruction</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.ADI, new { @class = "form-control col-sm-3" })
                </div>

            </div>


            <div class="form-group" id="pdcDiv">
                <label for="currency" class="col-xs-2 col-sm-2 control-label">Perticulars of Deposited Cheque</label>
                <div class="col-lg-10">
                    <table class="table table-bordered">
                        <tr>
                            <th class="info">BANK</th>
                            <th class="info">BRANCH</th>
                            <th class="info">CHEQUE NO.</th>
                            <th class="info">DATE</th>

                        </tr>
                        <tr>
                            <td class="active">

                                @Html.TextAreaFor(model => model.PDCBANK, new { @class = "form-control col-sm-3", style = "width:auto" })
                            </td>
                            <td class="active">

                                @Html.TextAreaFor(model => model.PDCBRANCH, new { @class = "form-control col-sm-3", style = "width:auto" })
                            </td>
                            <td class="active">

                                @Html.TextAreaFor(model => model.PDCCHEQUENO, new { @class = "form-control col-sm-3", style = "width:auto" })
                            </td>
                            <td class="active">
                                <div class='input-group date' id='datetimepicker2'>


                                    @Html.TextBoxFor(x => Model.PDCDATE, new { @class = "form-control" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>



            </div>


            <div class="form-group">
                <div class="col-lg-12 text-right">
                    @if (Model.ID == 0)
                    {
                        <input type="submit" value="Apply" class="btn btn-info" id="saveButton" />

                    }
                    else
                    {
                        if (Model.CREATEDON == DateTime.Now.Date)
                        {
                            <input type="submit" value="Update" class="btn btn-success" id="editButton" />
                        }
                    }

                </div>

            </div>


        </div>
    </div>
}


<br />


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Card Cheque Management</h4>
            </div>
            <div class="modal-body" id="modalBody">
                <h4>
                    <p></p>
                </h4>
            </div>
            <div class="modal-footer">


                @Html.ActionLink("Ok", "Index", "Home", new { area = "Payment" }, new { @class = "btn btn-primary" })



            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Card Cheque Management</h4>
            </div>
            <div class="modal-body" id="modalBody3">
                <h4>
                    <p></p>
                </h4>
            </div>
            <div class="modal-footer">


                @Html.ActionLink("Ok", "Index", "Payment", new { area = "Admin" }, new { @class = "btn btn-primary" })



            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="myModal1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Messege</h4>
            </div>
            <div class="modal-body" id="myModalBody1">

            </div>

        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">

        $(function() {
            $("#CURRENCY").change(function () {
                var currency = $("#CURRENCY option:selected").text();
                if (currency == 'USD') {

                    $('#EXCHANGERATE').prop('disabled', false);
                } else {
                    $('#EXCHANGERATE').prop('disabled', true);
                }
            });
        });

        $(function() {
            var currency = $("#CURRENCY option:selected").text();
            if (currency == 'USD') {

                $('#EXCHANGERATE').prop('disabled', false);
            } else {
                $('#EXCHANGERATE').prop('disabled', true);
            }

            var paymentType = $('#PAYMENTTYPE').val();
            //  alert(paymentType);
            if (paymentType == 'Cash') {
                $('#accdebitDiv *').attr('disabled', true);
                $('#pdcDiv *').attr('disabled', true);
                $('input[name=PAYMENTTYPE][value=Cash]').attr('checked', true);
            }
            if (paymentType == 'Cheque') {
                $('#pdcDiv *').attr('disabled', false);
                $('#accdebitDiv *').attr('disabled', true);
                $('input[name=PAYMENTTYPE][value=Cheque]').attr('checked', true);
            }
            if (paymentType == 'ADI') {
                $('#accdebitDiv *').attr('disabled', false);
                $('#pdcDiv *').attr('disabled', true);
                //    alert('Hello');
                $('input[name=PAYMENTTYPE][value=ADI]').attr('checked', true);
            }

            $("input[name$='PAYMENTTYPE']").click(function() {
                var test = $(this).val();
                $('.error label').text('');
                if (test == 'Cash') {

                    $('#accdebitDiv *').attr('disabled', true);
                    $('#pdcDiv *').attr('disabled', true);

                    $("#accdebitDiv :text").val("");
                    $("#pdcDiv :text").val("");
                    $('textarea').val("");

                    $("#accdebitDiv label.error").text("");
                    $("#pdcDiv label.error").text("");
                }
                if (test == 'Cheque') {
                    $('#pdcDiv *').attr('disabled', false);
                    $('#accdebitDiv *').attr('disabled', true);

                    //$("#amount-error").text("");
                    $("#pdcDiv :text").val("");
                    $("#accdebitDiv :text").val("");
                    $('textarea').val("");

                    $("#accdebitDiv label.error").text("");
                    $("#pdcDiv label.error").text("");
                }
                if (test == 'ADI') {
                    $('#accdebitDiv *').attr('disabled', false);
                    $('#pdcDiv *').attr('disabled', true);


                    //    $("#amount-error").text("");

                    $("#accdebitDiv :text").val("");
                    $('textarea').val("");

                    $("#accdebitDiv label.error").text("");
                    $("#pdcDiv label.error").text("");
                }

            });

        });

        $(function() {
            if (@Model.ID == 0) {


                $('#accdebitDiv *').attr('disabled', true);
                $('#pdcDiv *').attr('disabled', true);
                $('#saveButton').prop('disabled', true);
                $('#EXCANGERATE').prop('disabled', true);
                // alert('Hello2');
                $("input[name$='PAYMENTTYPE']").click(function() {
                    var test = $(this).val();
                    $('.error label').text('');
                    if (test == 'Cash') {

                        $('#accdebitDiv *').attr('disabled', true);
                        $('#pdcDiv *').attr('disabled', true);

                        $("#accdebitDiv :text").val("");
                        $("#pdcDiv :text").val("");
                        $("#accdebitDiv label.error").text("");
                        $("#pdcDiv label.error").text("");
                        $('textarea').val("");
                    }
                    if (test == 'Cheque') {
                        $('#pdcDiv *').attr('disabled', false);
                        $('#accdebitDiv *').attr('disabled', true);

                        //  $("#amount-error").text("");
                        $("#pdcDiv :text").val("");
                        $("#accdebitDiv :text").val("");
                        $("#accdebitDiv label.error").text("");
                        $("#pdcDiv label.error").text("");
                        $('textarea').val("");
                    }
                    if (test == 'ADI') {
                        $('#accdebitDiv *').attr('disabled', false);
                        $('#pdcDiv *').attr('disabled', true);


                        //    $("#amount-error").text("");

                        $("#accdebitDiv :text").val("");
                        $("#accdebitDiv label.error").text("");
                        $("#pdcDiv label.error").text("");
                        $('textarea').val("");
                    }
                    // var currency = $('#CURRENCY').text();

                    //var currency = $("#CURRENCY option:selected").text();
                    //alert(currency);

                });
            }
            // subscribe to the keydown event

            $("#CARDNUMBER").blur(function() {
                // when a key is pressed check if its code was 9 (TAB)


                $.ajax({
                    url: '@Url.Action("GetCardInfo", "Home", new {area = "Payment"})',
                    type: 'POST',
                    data: { cardNo: $(this).val() },
                    beforeSend: function() { $('#spinner').show(); },
                    complete: function() { $('#spinner').hide(); },
                    success: function(result) {
                        if (result == null) {
                            $('#myModalBody1').html('Invalid Card Number');
                            $('#myModal1').modal('show');
                            $('#saveButton').prop('disabled', true);
                        } else if (result == "") {
                            $('#myModalBody1').html('No Data Found');
                            $('#myModal1').modal('show');
                            $('#saveButton').prop('disabled', true);
                        } else if (result == 'error') {
                            $('#myModalBody1').html('No Data Found. Please check your card number');
                            $('#myModal1').modal('show');
                            $('#saveButton').prop('disabled', true);
                        } else {

                            $('#CARDHOLDERNAME').val(result);
                            $('#saveButton').prop('disabled', false);
                        }
                    },
                    error: function(xhr) {
                        $('#myModalBody1').html('Error');
                        $('#myModal1').modal('show');
                    }
                });

            });
        });

        function OnSuccess(response) {
            if (response.adminFlag == 1) {
                $('#modalBody3').html(response.msg);
                $('#myModal3').modal('show');
            } else {
                $('#modalBody').html(response.msg);
                $('#myModal').modal('show');
            }

            //  window.location.href = '/Payment/List/Index/';
        }

        function OnFailure(response) {
            alert(response);
        }

        $("#chequeForm").validate({
            rules: {
                AMOUNT: {
                    required: true,
                    number: true
                },
                CREATEDON: {
                    required: true,
                },
                CARDNUMBER: {
                    required: true,
                    digits: true,
                    maxlength: 18,
                },

                EXCHANGERATE: {
                    required: true,
                    number: true,
                },
                MOBILE: {
                    digits: true,
                    minlength: 11,
                    maxlength: 11,
                },
                CURRENCY: {
                    required: true,
                },
                PAYMENTTYPE: {
                    required: true,
                },
                BRANCH: {
                    required: true,
                },
                ADI: {
                    required: true,
                    digits: true
                },

                PDCBANK: {
                    required: true,
                },
                PDCBRANCH: {
                    required: true,
                },
                PDCCHEQUENO: {
                    required: true,
                },
                PDCDATE: {
                    required: true,
                },
            },
            messages:
            {
                AMOUNT: {
                    required: "Please enter the amount",
                    number: "Numbers only"
                },
                PAYMENTTYPE: {
                    required: "Select a Payment Type",
                },
                BRANCH: {
                    required: "Enter a Branch",
                },
            },
            errorPlacement: function(error, element) {

                if (element.attr("name") == "CREATEDON") {

                    error.appendTo(element.closest('#myId'));

                }
                if (element.attr("type") == "radio") {
                    error.insertAfter("#radioError").css({ marginLeft: "200px" });

                } else {
                    error.insertAfter(element);
                }

            },
        });

    </script>

}

@section DatetimeCss{

    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />

}
@section DateTimeJs{

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'MM/DD/YYYY'
            });
            $('#datetimepicker2').datetimepicker({
                format: 'MM/DD/YYYY'
            });
        });


    </script>
}

