@model CardChequeModule.Models.DEPOSIT

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DEPOSIT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CARDNUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARDNUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATEDON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATEDON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISAUTHORIZED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISAUTHORIZED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REFERENCENUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REFERENCENUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAYMENTTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAYMENTTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CURRENCY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURRENCY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PDCBANK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PDCBANK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PDCBRANCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PDCBRANCH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PDCCHEQUENO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PDCCHEQUENO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PDCDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PDCDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CARDHOLDERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARDHOLDERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOBILE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOBILE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BRANCHINFO.BRANCHCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRANCHINFO.BRANCHCODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OCCUSER.EMPLOYEEID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OCCUSER.EMPLOYEEID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
