@model IEnumerable<CardChequeModule.Models.CARDCHEREUISITION>

@{
    ViewBag.Title = "Index";
}
@using PagedList
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />




<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-search"> <strong>Search</strong></span> </h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "Home",new { Area = "Establishment"}, FormMethod.Get, new { @class = "form-horizontal" }))
        {

        <div class="form-group">
            <label class="col-sm-1 control-label">Branch</label>
            <div class="col-sm-3">

                @Html.DropDownList("BRANCH", null, "Select All", new { @class = "form-control" })
            </div>
            <label class="col-sm-1 control-label">Card Number</label>
            <div class="col-sm-3">
                <input type="text" id="CARDNO" name="CARDNO" class="form-control" />
            </div>
            <label class="col-sm-1 control-label">Date</label>
            <div class="col-sm-3">
                <div class='input-group date' id='datetimepicker1'>
                    <input type="text" id="CREATEDON" name="CREATEDON" class="form-control" />
                    @*  @Html.TextBoxFor(x => x.CREATEDON, new { @class = "form-control", @placeholder = "Date" })*@
                    @*@Html.TextBoxFor(x => x.CREATEDON, new { @class = "form-control" })*@
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-11 control-label"></label>
            <div class="col-sm-1">
                <button class="btn btn-info text-right" type="submit">Search</button>
            </div>
        </div>
        }
    </div>
</div>






@using (Html.BeginForm("Post", "Home", new { area = "Establishment" }, FormMethod.Post, new { @class = "form-horizontal", id = "downloadForm" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)


    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-group">
                <h3 class="panel-title col-sm-7"><span class="glyphicon glyphicon-list"> <strong>List</strong></span> </h3>
                @*<a href="@Url.Action("DownloadFile", "Home", new { Area = "Establishment" })">

                    <h3 class="panel-title col-sm-5 text-right"><span class="glyphicon glyphicon-download-alt"> Downlaod</span> </h3>
                </a>*@


            </div>

        </div>
        <div class="panel-body">

            <table class="table table-striped table-bordered table-responsive">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CARDNO)
                    </th>
                    <th>

                        @Html.DisplayNameFor(model => model.REMARKS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AUTHORIZEDON)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.REFERENCENO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BRANCHINFO.BRANCHNAME)
                    </th>


                    <th>
                        @Html.DisplayName("Authorized By")
                    </th>
                    <th>
                        <input type="checkbox" id="checkall" />
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CARDNO)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.REMARKS)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.AUTHORIZEDON)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.REFERENCENO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BRANCHINFO.BRANCHNAME)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.OCCUSER2.USERNAME)
                    </td>


                    <td>
                        <input type="checkbox" class="checkBoxClass" name="idList" id="idList" value="@item.ID" />
                    </td>

                </tr>
                }

            </table>
            @if (Model.Any())
            {
            <div class="form-group">
                @*<label class="col-sm-11 control-label"></label>*@
                <div class="col-lg-12  text-right">
                    <button class="btn btn-danger" type="submit" id="Assign">Export</button>
                </div>

            </div>
            }

        </div>
    </div>
}

<div class="col-lg-12 ">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Home",
                                                  new { page, BRANCH = ViewBag.currbranch, CARDNO = ViewBag.CARDNO, CREATEDON = ViewBag.CREATEDON }))


</div>


@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $("#checkall").change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));
        });

        //intial button disabled
        $('#Assign').prop("disabled", true);

        //check box click button enable disable
        $(function () {
            var checkboxes = $(':checkbox:not(#checkall)').click(function (event) {
                $('#Assign').prop("disabled", checkboxes.filter(':checked').length == 0);
            });

            $('#checkall').click(function (event) {
                checkboxes.prop('checked', this.checked);
                $('#Assign').prop("disabled", !this.checked);
            });
        });
    </script>

}
@section DatetimeCss{

    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />

}
@section DateTimeJs{

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'MM/DD/YYYY'
            });

        });


    </script>
}
