@using System.Web.Mvc.Html
@model IEnumerable<CardChequeModule.Models.CARDCHEREUISITION>

@using PagedList
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-search"> <strong>Search</strong></span> </h3>
    </div>
    <div class="panel-body">
        @* @using (Ajax.BeginForm("RequisitionRequest", "Home", FormMethod.Post, new AjaxOptions { UpdateTargetId = "partialChange", LoadingElementId = "Loading" }, new { @class = "form-horizontal", area = "Authorizer" }))*@
        @using (Html.BeginForm("Index", "Requisition", FormMethod.Get, new { @class = "form-horizontal", area = "Admin" }))
        {

            <div class="form-group">
                <label class="col-sm-1 control-label">Status</label>
                <div class="col-sm-3">

                    @Html.DropDownList("STATUS", ViewBag.STATUS as SelectList, "Select Value", new { @class = "form-control" })
                </div>
                <label class="col-sm-1 control-label">Card Number</label>
                <div class="col-sm-3">
                    <input type="text" id="CARDNO" name="CARDNO" class="form-control" value="@ViewBag.CARDNO" />
                </div>
                <label class="col-sm-1 control-label">Date</label>
                <div class="col-sm-3">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type="text" id="CREATEDON" name="CREATEDON" class="form-control" value="@ViewBag.CREATEDON" />

                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-11 control-label"></label>
                <div class="col-sm-1">
                    <button class="btn btn-info" type="submit" id="searchBtn">Search</button>
                </div>
            </div>
        }
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Form", "Home", new { Area = "ChequeRequisition" }, new { @class = "btn btn-success" })
</p>


<table class="table table-striped table-bordered">
    <tr class="success">

        <th>
            @Html.DisplayNameFor(model => model.CARDNO)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.REMARKS)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.REFERENCENO)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.BRANCHINFO.BRANCHNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATEDON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISACTIVE)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
               @Html.ActionLink(@Html.DisplayFor(modelItem => item.CARDNO).ToString(), "Details", "requisition",new {Area="Admin", id=item.ID},new {@id=item.ID})
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OCCENUMERATION.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REMARKS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REFERENCENO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BRANCHINFO.BRANCHNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATEDON)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISACTIVE)
            </td>


        </tr>
    }

</table>

<div class="col-lg-12 ">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Requisition",
                                          new { page, STATUS = ViewBag.currsts, CARDNO = ViewBag.CARDNO, CREATEDON = ViewBag.CREATEDON }))


</div>


@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

}
@section DatetimeCss{

    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />

}
@section DateTimeJs{

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'MM/DD/YYYY'
            });

        });


    </script>
}


