@model IEnumerable<CardChequeModule.Models.CARDCHTRAN>

@{
    ViewBag.Title = "Index";
}

@using PagedList
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-search"> <strong>Search</strong></span> </h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "CardCheque", FormMethod.Post, new { @class = "form-horizontal", area = "CardCheque" }))
        {

            <div class="form-group">
                <label class="col-sm-1 control-label">Status</label>
                <div class="col-sm-3">

                    @Html.DropDownList("STATUS", null, "Select Status", new { @class = "form-control" })
                </div>
                <label class="col-sm-1 control-label">Card Number</label>
                <div class="col-sm-3">
                    <input type="text" id="CARDNO" name="CARDNO" class="form-control" value="@ViewBag.CARDNO" />
                </div>
                <label class="col-sm-1 control-label">Date</label>
                <div class="col-sm-3">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type="text" id="CREATEDON" name="CREATEDON" class="form-control" value="@ViewBag.CREATEDON" />

                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-11 control-label"></label>
                <div class="col-sm-1">
                    <button class="btn btn-info" type="submit">Search</button>
                </div>
            </div>
        }
    </div>
</div>


<p>
    @Html.ActionLink("Create New", "Create", "Home", new { Area = "CardCheque" }, new { @class = "btn btn-success" })
</p>




<table class="table table-bordered table-striped ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CARDNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARDHOLDERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REQUESTDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BENEFICIARINFO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AMOUNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CARDCHLEAF.LEAFNO)
        </th>

        <th>
            @Html.DisplayName("Approval/Decline Code")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr class=@( item.STATUS == 13 ? "danger" : "success")>
            <td>
                @Html.ActionLink(Html.DisplayFor(modelItem => item.CARDNO).ToString(), "Details", "CardCheque", new { Area = "Admin", id = item.ID }, new { @id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CARDHOLDERNAME)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.REQUESTDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BENEFICIARINFO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AMOUNT)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.OCCENUMERATION.Name)
            </th>


            <td>
                @Html.DisplayFor(modelItem => item.CARDCHLEAF.LEAFNO)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.APPROVALNO)
            </th>


        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "CardCheque",
                                          new { page, STATUS = ViewBag.currsts, CARDNO = ViewBag.CARDNO, CREATEDON = ViewBag.CREATEDON }))








@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

}
@section DatetimeCss{

    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />

}
@section DateTimeJs{

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'MM/DD/YYYY'
            });

        });


    </script>
}




