
@model IEnumerable<CardChequeModule.Models.CARDCHTRAN>

@{
    ViewBag.Title = "Index";
}




<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table table-bordered table-striped ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CARDNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARDHOLDERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REQUESTDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BENEFICIARINFO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AMOUNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CARDCHLEAF.LEAFNO)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.APPROVALNO)
        </th>

    </tr>

    @foreach (var item in Model)
{
    <tr class= @( item.STATUS == 13 ? "danger" : "success") >
        <td>
            @Html.DisplayFor(modelItem => item.CARDNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CARDHOLDERNAME)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.REQUESTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BENEFICIARINFO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AMOUNT)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.OCCENUMERATION.Name)
        </th>


        <td>
            @Html.DisplayFor(modelItem => item.CARDCHLEAF.LEAFNO)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.APPROVALNO)
        </th>


    </tr>
}

</table>
