@using System.Web.UI.WebControls
@model CardChequeModule.Models.ClientDetails

@{
    ViewBag.Title = "SearchResult";
    var cardNo = Model.CARDNO;
}

<h3 style="color: red">@ViewBag.Msg</h3>
<br />

@if (ViewBag.Flag == 1)
{

}
else
{

    <div class="container">
        @using (Html.BeginForm("Deposit", "Home", FormMethod.Post, new { area = "CardCheque", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">

                <div class="col-sm-3">
                    @Html.LabelFor(model => model.CLIENTNAME)

                    @Html.TextBoxFor(model => model.CLIENTNAME, new { @readonly = true, @class = "form-control" })
                    @*<label>Amount</label>
                    <input class="form-control" readonly="true" placeholder="Amount" type="text" id="CLIENTNAME" name="CLIENTNAME">*@
                </div>
                <div class="col-sm-3">
                    @Html.LabelFor(model => model.ADDRESS)

                    @Html.TextBoxFor(model => model.ADDRESS, new { @readonly = true, @class = "form-control" })
                    @*<label>Amount</label>
                    <input class="form-control" readonly="true" placeholder="Amount" type="text" id="CLIENTNAME" name="CLIENTNAME">*@

                </div>
                <div class="col-sm-3">
                    @Html.DisplayNameFor(model => model.COUNTRY)

                    @Html.TextBoxFor(model => model.COUNTRY, new { @readonly = true, @class = "form-control" })
                    @*<label>Amount</label>
                    <input class="form-control" readonly="true" placeholder="Amount" type="text" id="CLIENTNAME" name="CLIENTNAME">*@


                </div>
                <div class="col-sm-3">
                    @Html.DisplayNameFor(model => model.MINAMNTDUE)

                    @Html.TextBoxFor(model => model.MINAMNTDUE, new { @readonly = true, @class = "form-control" })
                    @*<label>Amount</label>
                    <input class="form-control" readonly="true" placeholder="Amount" type="text" id="CLIENTNAME" name="CLIENTNAME">*@


                </div>

            </div>
            <div class="form-group">


                <div class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CURRBALANCE)

                    @Html.TextBoxFor(model => model.CURRBALANCE, new { @readonly = true, @class = "form-control" })
                    @*<label>Amount</label>
                    <input class="form-control" readonly="true" placeholder="Amount" type="text" id="CLIENTNAME" name="CLIENTNAME">*@


                </div>
                <div class="col-sm-3">
                    @Html.DisplayNameFor(model => model.TOTALPURCHASE)

                    @Html.TextBoxFor(model => model.TOTALPURCHASE, new { @readonly = true, @class = "form-control" })
                    
                    @*<label>Amount</label>
                    <input class="form-control" readonly="true" placeholder="Amount" type="text" id="CLIENTNAME" name="CLIENTNAME">*@

                </div>
                <div class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CREDITLIMIT)

                    @Html.TextBoxFor(model => model.CREDITLIMIT, new { @readonly = true, @class = "form-control" })
                    
                    @*<label>Amount</label>
                    <input class="form-control" readonly="true" placeholder="Amount" type="text" id="CLIENTNAME" name="CLIENTNAME">*@


                </div>
                

            </div>

            @*<form role="form" class="form-horizontal" action="/CardCheque/Home/Deposit  ">*@

            <div class="form-group">
                <div class="col-sm-3"><label>Branch Name</label><input class="form-control" placeholder="Branch Name" type="text" id="BRANCH" name="BRANCH"></div>
                <div class="col-sm-3">
                    <label for="billingDate">Date</label>
                    <div class='input-group date' id='datetimepicker2'>

                        <input type='text' class="form-control" placeholder="Date" id="DATE" name="DATE" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3"><label>Amount</label><input class="form-control" placeholder="Amount" type="text" id="AMOUNT" name="AMOUNT"></div>
                <div class="col-sm-3"><label>.</label><button type="submit" class="btn btn-twitter form-control" id="saveBrn">Save</button></div>
            </div>
        }

        @*</form>*@
    </div>

    <br />
    <br />
    <br />
    <br />

    <script type="text/javascript">

        $(function () {
            $('#datetimepicker2').datetimepicker({
                format: 'MM/DD/YYYY HH:mm:ss'
            });

        });

    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}