@model CardChequeModule.Models.CARDCHTRAN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CARDCHTRAN</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CARDNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARDNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CARDHOLDERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARDHOLDERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BRANCHCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRANCHCODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQUESTDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQUESTDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BENEFICIARINFO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BENEFICIARINFO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISSIGNATUREVERIFIED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISSIGNATUREVERIFIED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APPROVALNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APPROVALNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISACTIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISACTIVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATEDON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATEDON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFIEDON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFIEDON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CARDCHLEAF.LEAFNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARDCHLEAF.LEAFNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OCCUSER.EMPLOYEEID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OCCUSER.EMPLOYEEID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OCCUSER1.EMPLOYEEID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OCCUSER1.EMPLOYEEID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
