@model IEnumerable<CardChequeModule.Models.CARDCHTRAN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CARDNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARDHOLDERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRANCHCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REQUESTDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BENEFICIARINFO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AMOUNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISSIGNATUREVERIFIED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APPROVALNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATEDON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODIFIEDON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARDCHLEAF.LEAFNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OCCUSER.EMPLOYEEID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OCCUSER1.EMPLOYEEID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CARDNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CARDHOLDERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRANCHCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REQUESTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BENEFICIARINFO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AMOUNT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISSIGNATUREVERIFIED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APPROVALNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISACTIVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATEDON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODIFIEDON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CARDCHLEAF.LEAFNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OCCUSER.EMPLOYEEID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OCCUSER1.EMPLOYEEID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
